body {
    background-color: #f8f9fa;
    font-family: Arial, sans-serif;
}

.card {
    border-radius: 15px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
    transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
}

.card:hover {
    transform: translateY(-5px);
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.5);
}

.card-body {
    padding: 40px;
}

.form-label {
    color: #6c757d;
}

.btn-primary {
    background-color: #007bff;
    border-color: #007bff;
    transition: background-color 0.3s ease-in-out;
}

.btn-primary:hover {
    background-color: #0056b3;
    border-color: #0056b3;
}

.error-message {
    color: red;
    display: none;
}

.form-outline {
    transition: border-color 0.3s ease-in-out;
}

.form-outline:focus-within {
    border-color: #007bff;
}

.form-outline input.form-control {
    border-radius: 20px;
    border: 2px solid #ced4da;
    background-color: #f8f9fa;
    transition: border-color 0.3s ease-in-out;
}

.form-outline input.form-control:focus {
    border-color: #0b0c0c;
    box-shadow: none;
}

.form-outline input.form-control::placeholder {
    color: #6c757d;
}

.form-outline input.form-control:focus::placeholder {
    color: transparent;
}


